ul {

    list-style-type: none;
    margin:0;
    padding:5px;
    width:10%;
}


body {
  margin: 0;
}


/* Create three unequal columns that floats next to each other */
.column {
  float: left;
  padding:0;
}

/* Left and right column */
.column.side {
  background-color: #D3D3D3;
  height: 100%;
  width: 60px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding-top: 0px;
  
  
  
}

/* Middle column */
.column.middle {
  width: 96%;
  float: left;
}

.change{
    float: bottom;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column.side, .column.middle {
    width: 100%;
  }
}

