/******************************************************************************/
.icon {
    width: 23px;
    height: 18px;
    margin-left: 48px;
    margin-top: 8px;
}

.bicon {
    border: none;
    background: none;
    cursor: pointer;
}

.cs4063 {
    font-family: 'Lato';
    font-size: 18px;
    position: absolute;
    top: 17px;
    left: 96px;
}

.cs4063:hover {
    text-decoration: underline;
    cursor: pointer;
}

.hrSpring {
    color: #e8e8e8;
    border-width: 0;
    background-color: #e8e8e8;
    height: 2px;
    margin-left: 53px;
    margin-top: 15px;
}

.b {
    padding: 8px 5px;
    border: none;
    background: none;
    color: #993333;
    cursor: pointer;
    font-size: 16px;
    font-family: 'Lato';
}

.b:hover {
    text-decoration: underline;
}

.bb {
    padding: 8px 5px;
    border: none;
    background: none;
    cursor: pointer;
    font-size: 16px;
    font-family: 'Lato';
    color: black;
    border-left-width: thin;
    border-left-style: solid;
    border-left-color: black;
    font-weight: bold;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

.semester {
    font-size: 10px;
    text-indent: 7px;
    font-family: 'Lato';
}

.menu {
    position: absolute;
    top: 63px;
    left: 55px;
    border: none;
}

.middle {
    position: absolute;
    top: 63px;
    left: 240px;
    border: none;
    max-width: 870px;
}

h2 {
    font-family: 'Lato';
    font-size: 29px;
    color: #666666;
    margin-bottom: 15px;
    width: 855px;
}

.mid-hr {
    color: #666666;
    border-width: 0;
    background-color: #e8e8e8;
    height: 2px;
    margin-top: 0;
    margin-bottom: 40px;
}

.wrap {
    max-width: 830px;
}

p {
    font-family: 'Lato';
    font-size: 16px;
    color: #2D3B45;
    padding-left: 10px;
    overflow: hidden;
    line-height: 1.5;
    display: -webkit-box;
    -webkit-line-clamp: 7;
    -webkit-box-orient: vertical;
}

.arrow {
    font-family: Arial;
    font-size: 16;
    position: absolute;
    top: 20px;
    left: 215px;
    color: grey;
}

.rss {
    font-family: Arial;
    font-size: 16;
    position: absolute;
    top: 20px;
    left: 230px;
    color: black;
}

.sectionHeader {
    font-family: 'Lato';
    font-size: 16px;
    color: #2D3B45;
}

.staffName {
    font-family: 'Lato';
    font-size: 16px;
    color: black;
}

.staffInfo {
    font-family: 'Lato';
    font-size: 14px;
    color: #2D3B45;
    margin-top:-12px; 
}

.staffInfoLink {
    font-family: 'Lato';
    font-size: 14px;
    color: #2D3B45;
    margin-top:-12px; 
    margin-left: 10px;
}

.hrResources {
    color: #e8e8e8;
    border-width: 0;
    background-color: #e8e8e8;
    height: 2px;
    width: 86%;
    margin-top:35px; 
    margin-left:255px;
}

td {
  border: 1px solid #dddddd;
  border-collapse: collapse;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
  border-collapse: collapse;
}


/******************************************************************************/
