/******************************************************************************/
.buttonBox {
  position: absolute;
  right: 25px;
  top: 95px;
}

.buttonRIGHT {
  text-align: left;
  text-decoration: none;
  display: block;
  font-size: 15px;
  cursor: pointer;
  background: #f5f5f5;
  color: #2D3B45;
  border: 1px solid;
  border-color: #C7CDD1;
  border-radius: 3px;
  transition: background-color 0.2s ease-in-out;
  padding: 8px 14px;
  margin: 5px auto;
  vertical-align: middle;
  cursor: pointer;
  font-family: 'Lato';
  font-size: 16px;
  width: 240px;
  height: 38px;
}

.buttonRIGHT:hover {
  background-color: #e6e6e6;
}

.h6RIGHT {
  font-family: 'Lato';
  font-size: 16px;
  position: absolute;
}

.divTODO {
  position: absolute;
  right: 20px;
}

.buttonTODO {
  text-align: left;
  text-decoration: none;
  cursor: pointer;
  background: #ffffff;
  color: #993333;
  border: none;
  transition: color 0.2s ease-in-out;
  position: relative;
  padding: 8px 14px;
  vertical-align: middle;
  cursor: pointer;
  font-family: 'Lato';
  font-size: 14px;
  line-height: 1.1;
  display: flex;
  align-items: flex-start;
  margin: 0 0 0px;
}
.buttonTODO:hover {
  color: #732626;
  text-decoration: underline;
}

.buttonGROUPS {
  text-align: left;
  text-decoration: none;
  cursor: pointer;
  background: #ffffff;
  color: #993333;
  border: none;
  transition: color 0.2s ease-in-out;
  padding: 8px 14px;
  vertical-align: middle;
  font-family: 'Lato';
  font-size: 15px;
  line-height: 1.1;
  display: flex;
  margin: 0 0 0px;
  position: absolute;
  right: 190px;
}
.buttonGROUPS:hover {
  color: #732626;
  text-decoration: underline;
}

.pTODO {
  font-family: 'Lato';
  font-size: 14px;
  color: #2D3B45;
  margin: 0 0 0 30px;
}

.divFEEDBACK {
  font-family: 'Lato';
  font-size: 11px;
  color: #777777;
}

.buttonFEEDBACK {
  text-align: left;
  text-decoration: none;
  cursor: pointer;
  background: #ffffff;
  color: #993333;
  border: none;
  transition: color 0.2s ease-in-out;
  padding: 8px 14px;
  vertical-align: middle;
  font-family: 'Lato';
  font-size: 15px;
  line-height: 1.1;
  display: flex;
  margin: 0 0 0px;
  position: absolute;
  right: 60px;
}
.buttonFEEDBACK:hover {
  color: #732626;
  text-decoration: underline;
}

.hrRIGHT {
  width: 235px;
  position: absolute;
  color: #2D3B45;
}

.imgASSIGNMENT {
  width:17px;
  height:18px;
  margin: 0 10px 0 0;
}

.imgDELETE {
  width:20px;
  height:20px;
  margin: 0 0 0 20px;
}

.imgCHECK {
  width:18px;
  height:19px;
  margin: 0 12px 0 0;
}
/******************************************************************************/
